# Ignore files without extension.
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore input images.
*.jpg

# Ignore C library files.
*.h

# Ignore all txt files.
*.txt

.vscode/*